ul {
  list-style-type: none;
}

.chat-application {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-areas: "chat-container sidebar";
}

.chat-container {
  grid-area: chat-container;
  width: 80vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatbox {
  height: 100%;
  overflow: scroll;
}

.chat-input input{
  padding: 20px;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  text-align: right;
  width: 20vw;
  border-left: 1px solid black;
}
